* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	background-color: #f3f3f3;
}

#header {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;
	position: fixed;
	width: 100%;
	padding: 0.5rem 1.25rem;
	background-color: #ffffff;
	box-shadow: 0 1px 5px 0 rgba(96, 96, 96, 0.4);
}

.logo {
	display: flex;
	gap: 0.5rem;
	align-items: center;
}

.logo h1 {
	font-size: 1.5rem;
}

#header-img {
	height: 4rem;
	vertical-align: top;
}

#nav-bar ul {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	list-style: none;
}

#nav-bar ul li {
	display: flex;
	justify-content: center;
	align-items: center;
}

#nav-bar ul a {
	text-align: center;
	text-decoration: none;
	color: #a3a3a3;
	font-weight: bold;
}

main {
	min-height: 100vh;
	max-width: 800px;
	margin: auto;
	padding-top: calc(166px + 1rem);
	padding-bottom: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	gap: 1rem;
}

section {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.75rem;
	padding: 0 0.5rem;
}

section h2 {
	text-align: center;
}

#specs .container {
	display: grid;
	grid-template-columns: 1fr;
	gap: 1rem;
}

#specs section {
	display: flex;
	flex-direction: column;
	gap: 1.25rem;
	justify-content: center;
	background-color: #ffffff;
	border-radius: 4px;
	box-shadow: 0 1px 5px 0 rgba(96, 96, 96, 0.4);
	padding: 1rem;
}

#specs section p {
	text-align: center;
}

#form {
	display: flex;
	gap: 1rem;
}

#form input {
	border: none;
	outline: none;
	padding: 0.5rem;
	border: 1px solid #41cd52;
}

#form input[type='submit'] {
	background-color: #41cd52;
	color: #ffffff;
	font-weight: bold;
}

@media screen and (min-width: 768px) {
	main {
		padding-top: calc(80px + 1rem);
	}

	#header {
		flex-direction: row;
	}

	#nav-bar ul {
		flex-direction: row;
	}

	#specs .container {
		grid-template-columns: 1fr 1fr 1fr;
	}
}
